body {
    background-color: #F3FFFD;
}

.start {
    font-family: sans-serif;
    text-align: center;
}

#startBtn {
    color: white;
    border-color: lightcoral;
    background-color: rgb(210, 210, 210);
    border-radius: 20px;
    border-width: 0px;
    padding: 10px;
    margin: 20px;
    font-size: medium;
    font-weight: bolder;
}

.navbar {
    margin-bottom: 60px;
}

#countdown {
    font-family: sans-serif;
    color: lightgray;
    text-align: left;
    font-size: large;
}

.container {
    float: right;
}

#question-title {
    font-family: sans-serif;
}

#choice {
    font-family: sans-serif;
}

.wrapper {
    margin : 20px auto;
    padding: 50px;
    background-color: white;
    width : 500px;
    border-radius: 5px;
    border-width: 1px;
    border: dashed;
    border-color: lightgrey;
    position: relative;
    vertical-align: middle;
}

